[project]
	description = RPC & Pub/Sub over AMQP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/sbunatyan
[access "refs/for/refs/*"]
	read = group user/sbunatyan
	push = group user/sbunatyan
	label-Code-Review = -2..+2 group user/sbunatyan
	label-Verified = -1..+1 group user/sbunatyan
	rebase = group user/sbunatyan
	removeReviewer = group user/sbunatyan
	submit = group user/sbunatyan
[access "refs/heads/*"]
	read = group user/sbunatyan
	create = group user/sbunatyan
	push = +force group user/sbunatyan
	pushMerge = group user/sbunatyan
[access "refs/tags/*"]
	push = +force group user/sbunatyan
	pushTag = group user/sbunatyan
	pushSignedTag = group user/sbunatyan
